<%- include('partials/header.ejs')%>
<script src="/javaScript/nav.js"></script>
<link rel="stylesheet"  href="/styles/navBar.css" />
<link rel="stylesheet"  href="/styles/cart.css" />

<h2 style="text-align: center; color: red;">Your Cart</h2>
<div class="msgBox"></div>
<div class="cartItemContainer">
    <div class="col2">
    </div>
    <div class="col1">
     <div class="action">
       
     </div>
    </div>
</div>
<script src="/javascript/cart.js"></script>
<%- include('partials/footer.ejs')%>