<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .footer{
        background-color: #363945;
    }
</style>
<body>
    <div>
        <div>
           ak 
        </div>
        <div>
            ar
        </div>
        <div>
           shit
        </div>
    </div>
</body>
</html>