<%- include('partials/header.ejs')%>
<link rel="stylesheet" href="/styles/slider.css"/>
<div class="welcome">
    Welcome in rolex world &#128525;
</div> 
<div class="soon">
   <a href="/product" class="page">Go To Product Page &#128516;</a>
    <div class="offer"> Offers Closes Soon</div>
</div>
<div class="slider">
</div>
<%- include('partials/footer.ejs')%>

